langgraph>=0.2.0
langchain>=0.3.0
langchain-community>=0.3.0
langchain-groq>=0.2.0
langchain-huggingface>=0.1.0
langchain-chroma>=0.1.0
chromadb>=0.5.0
sentence-transformers>=3.0.0
langsmith>=0.1.0
python-dotenv>=1.0.0
tiktoken>=0.7.0
duckduckgo-search>=6.0.0
pydantic>=2.0.0
langgraph-checkpoint-postgres>=2.0.0
psycopg[binary,pool]>=3.1.0
cryptography>=42.0.0
langgraph-checkpoint-sqlite
pypdf
streamlit>=1.30.0